#topnav {
    background-color: #415A77 !important;
    max-height: 80px;
    color: white !important;
}

.sectiontitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

#firstimg {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 55%;
}

#text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10%; 
    text-align: center;
    width: 60%;  
    color: #000000;
}

#navbar-example2 {
    background-color: #415A77 !important;
    color: white !important;
}
    
#headings {
    color: white;
}

#abs {
    width: 100%;
}

#partb {
    width: 100%
}

.card {
    /*width: 600px;*/
    margin-bottom: 100px;
    /*left: 800px;*/
    border: solid 2px #0D1B2A;
    border-radius: 5px;
    background-color: #E6E6E6;
}

body {
    background-color: #E0E1DD;
}

/*h1 {*/
/*    animation: animate__backInLeft;*/
/*    animation-iteration-count: infinite;*/
/*}*/

.titl {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: backInDown;
    animation-duration: 2s;
}

#scrollspyHeading1 {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: backInLeft;
    animation-duration: 2.5s;
}

#scrollspyHeading2 {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: backInRight;
    animation-duration: 2.5s;
}

#scrollspyHeading3 {
    display: inline-block;
    margin: 0 0.5rem;
    
    animation: backInUp;
    animation-duration: 2.5s;
}

#headings {
    background-color: #344B66;
    margin-right: 20px;
}

#softwares {
    margin-left: 40px;
    margin-top: 25px;
}

#carddesc {
    /*border: black solid 2px;*/
    
}

#itexts {
    font-size: 18px;
    margin-top: 10px;
    line-height: 28px;
}